.status {
  color: black;
  display: flex;
  height: 100px; }

.page-status {
  float: right; }

.login-status {
  font-size: 25px;
  justify-content: center;
  margin: 15px; }

.heading {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center; }

.question-container {
  background-color: white;
  max-width: 700px;
  min-width: 400px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  width: 100%; }

.error {
  color: red; }

.answer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px; }

.answer-button {
  width: 100px;
  height: 50px;
  margin: 5px; }
