body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 100% Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  min-height: 26em; }

input {
  color: black;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  margin: 3px; }

li {
  margin: 5px; }

* {
  box-sizing: border-box; }
